<!DOCTYPE HTML>
 
<html>
<head>
      <title>G10-Laboratorio-A</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="/static/jquery/ajaxLoadData1.js"></script>
</head>
 
<body>
<div class="container">
	<p class="h1" ><strong>Carga de Datos de API Propia</strong></p>
	<p class="h5" ><em>API: http://localhost/api/students/all</em></p>
	<div class="row justify-content-center">
		<div class="col-auto">
			<table id="studentTable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Código</th>
						<th>Apellidos y Nombres</th>
						<th>Facultad</th>
						<th>Nota Ponderada</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	
</body>
</html>