<!DOCTYPE HTML>
<html>
<head>
      <title>G10-Laboratorio-B</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.5" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="/static/jquery/ajaxLoadData2.js"></script>
</head>
 
<body>
<div class="container">
	<h1><strong>Carga de Datos de API Pública - Libre Uso </strong></h1>
	<p class="h5" ><em>API: https://jsonplaceholder.typicode.com/users</em></p>
	
	<div class="row justify-content-center">
		<div class="col-auto">
			<table id="userTable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre Y Apellido</th>
						<th>Username</th>
						<th>e-mail</th>
						<th>Direccion</th>
						<th>Ciudad</th>
						<th>Compañía</th>
						<th>Página Web</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	
</body>
</html>